wmconsole/test/resources/xsd/realty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="http://webmaster.yandex.ru/schemas/feed/realty/2010-06"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:rf="http://webmaster.yandex.ru/schemas/feed/realty/2010-06">

    <xs:element name="realty-feed" type="rf:realty-feed-type" />

    <xs:complexType name="realty-feed-type">
        <xs:sequence>
            <xs:element name="generation-date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
            <xs:element name="offer" type="rf:offer-type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="offer-type">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="property-type" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="share" type="xs:string" minOccurs="0" />
            <xs:element name="cadastral-number" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="vas" type="rf:vas-type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="commercial-type" type="rf:commercial-type-enum" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="garage-type" type="rf:garage-type-enum" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="commercial-building-type" type="rf:commercial-building-type-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="purpose" type="rf:purpose-enum" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="purpose-warehouse" type="rf:purpose-warehouse-enum" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
            <xs:element name="lot-number" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="creation-date" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
            <xs:element name="last-update-date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
            <xs:element name="expire-date" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
            <xs:element name="location" type="rf:location-type" minOccurs="1" maxOccurs="1" />
            <xs:element name="sales-agent" type="rf:sales-agent-type" minOccurs="1" maxOccurs="1" />
            <xs:element name="price" type="rf:price-type" minOccurs="1" maxOccurs="1" />
            <xs:element name="commission" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="security-payment" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="min-rent-period" type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cleaning-included" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="utilities-included" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="electricity-included" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="deal-status" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ownership-type" type="rf:ownership-type-enum" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="area" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="room-space" type="rf:area-type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="lot-area" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="image" type="rf:image-type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="renovation" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="vr-3d-widget" type="rf:three-d-widget-type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="section-name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="flat-plan" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="decoration" type="rf:decoration-type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wind-rose-angle" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="window-angle" type="xs:integer" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="flat-lat" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="flat-lon" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="rooms" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="entrance-type" type="rf:entrance-type-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="phone-lines" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="adding-phone-on-request" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="internet" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="self-selection-telecom" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="room-furniture" type="rf:true-false-request-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="air-conditioner" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="ventilation" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="fire-alarm" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="cctv" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="inspection-pit" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cellar" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="car-wash" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="auto-repair" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="heating-supply" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="water-supply" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="sewerage-supply" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="electricity-supply" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="electric-capacity" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="gas-supply" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="automatic-gates" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="floor-covering" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="window-view" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="window-type" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="floor" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="responsible-storage" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="freight-elevator" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="truck-entrance" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="ramp" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="railway" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="office-warehouse" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="open-area" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="service-three-pl" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="pallet-price" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="temperature-comment" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="floors-total" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="garage-name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="office-class" type="rf:office-class-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-type" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-series" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="built-year" type="xs:gYear" minOccurs="0" maxOccurs="1" />
            <xs:element name="access-control-system" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="twenty-four-seven" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="lift" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking-places" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking-place-price" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking-guest" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking-guest-places" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="alarm" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="security" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="ceiling-height" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="eating-facilities" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="manually-added" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="m-url" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
            <xs:element name="not-for-agents" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="haggle" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="mortgage" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="prepayment" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="rent-pledge" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="agent-fee" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="with-pets" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="with-children" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="installment" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="installment-rate" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="mortgage-bank" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="mls" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="mls-offer" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="living-space" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="kitchen-space" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="lot-type" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="min-area" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="max-area" type="rf:area-type" minOccurs="0" maxOccurs="1" />
            <xs:element name="new-flat" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="new-parking" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="rooms-offered" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="open-plan" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="rooms-type" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="phone" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="kitchen-furniture" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="television" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="washing-machine" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="refrigerator" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="balcony" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="bathroom-unit" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="studio" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="apartments" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="built-in-tech" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="guarded-building" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-state" type="rf:building-state-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="ready-quarter" type="rf:quarter-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="rubbish-chute" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="is-elite" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-phase" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-section" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="pmg" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="toilet" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="shower" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="kitchen" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="pool" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="billiard" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="sauna" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="land-status" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="entrance" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="approach" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="building-class" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="pass-by" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="custom-param" type="rf:custom-param-type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="campaign" type="xs:long" minOccurs="0" maxOccurs="1" />
            <xs:element name="yandex-certified-offer-id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="planning-id" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="yandex-building-id" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="yandex-house-id" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="house-internal-id" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="section-num" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="payed-adv" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="parking-type" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dishwasher" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="flat-alarm" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="promo" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="virtual-tour" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
            <xs:element name="image-window-view" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-lobby" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-corridor" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-street" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-building" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-entrance" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-balcony" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-room" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-kitchen" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-tambour" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image-bathroom-unit" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="verified" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="mortgage-approve" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="safe-deal" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fast-deal" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="owners" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="registered" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="underage" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="years-of-ownership" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="encumbrances" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="legal-dispute" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="replanning" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="temporarily-drawn" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="alternative" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="legal-documents" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="buy-online" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="placement-end-time" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="house-type" type="rf:house-type-enum" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="internal-id" type="rf:non-empty-string" use="required" />
    </xs:complexType>

    <xs:complexType name="location-type">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="country" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="region" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="district" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="locality-name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="sub-locality-name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="non-admin-sub-locality" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="address" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="apartment" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="direction" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="distance" type="rf:loose-float" minOccurs="0" maxOccurs="1" />
            <xs:element name="latitude" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="longitude" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="metro" type="rf:metro-type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="railway-station" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="place" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="custom-param" type="rf:custom-param-type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="hide-exact-address" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="metro-type">
        <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="time-on-transport" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="time-on-foot" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="sales-agent-type">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="phone" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="category" type="rf:sales-agent-category-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="organization" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="agency-id" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="photo" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="partner" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="is-hidden" type="rf:yes-no-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="trust" type="rf:trust-enum" minOccurs="0" maxOccurs="1" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="price-type">
        <xs:all>
            <xs:element name="value" type="rf:loose-float" minOccurs="1" maxOccurs="1" />
            <xs:element name="currency" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="period" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="taxation-form" type="rf:taxation-form-enum" minOccurs="0" maxOccurs="1" />
            <xs:element name="unit" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="decoration-type">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="image" type="rf:image-type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="decoration-description" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="area-type">
        <xs:all>
            <xs:element name="value" type="rf:loose-float" minOccurs="1" maxOccurs="1" />
            <xs:element name="unit" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="loose-float">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9 ]+((\.|,)[0-9]+)?" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="non-empty-string">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="percent">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="non-empty-URI">
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="custom-param-type">
        <xs:all>
            <xs:element name="name" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="sales-agent-category-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="власник" />
            <xs:enumeration value="владелец" />
            <xs:enumeration value="агентство" />
            <xs:enumeration value="застройщик" />
            <xs:enumeration value="owner" />
            <xs:enumeration value="agency" />
            <xs:enumeration value="developer" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yes-no-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="да" />
            <xs:enumeration value="нет" />
            <xs:enumeration value="yes" />
            <xs:enumeration value="no" />
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="+" />
            <xs:enumeration value="-" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="true-false-request-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="да" />
            <xs:enumeration value="нет" />
            <xs:enumeration value="yes" />
            <xs:enumeration value="no" />
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="+" />
            <xs:enumeration value="-" />
            <xs:enumeration value="request" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="office-class-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="A+" />
            <xs:enumeration value="A" />
            <xs:enumeration value="B+" />
            <xs:enumeration value="B" />
            <xs:enumeration value="C" />
            <xs:enumeration value="C+" />
            <xs:enumeration value="D" />
            <xs:enumeration value="E" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="taxation-form-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="НДС" />
            <xs:enumeration value="УСН" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vas-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="premium"/>
            <xs:enumeration value="raise"/>
            <xs:enumeration value="promotion"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="commercial-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="office" />
            <xs:enumeration value="retail" />
            <xs:enumeration value="warehouse" />
            <xs:enumeration value="free purpose" />
            <xs:enumeration value="land" />
            <xs:enumeration value="manufacturing" />
            <xs:enumeration value="auto repair" />
            <xs:enumeration value="business" />
            <xs:enumeration value="legal address" />
            <xs:enumeration value="public catering" />
            <xs:enumeration value="hotel" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="garage-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="garage"/>
            <xs:enumeration value="parking place"/>
            <xs:enumeration value="box"/>
            <xs:enumeration value="гараж"/>
            <xs:enumeration value="машиноместо"/>
            <xs:enumeration value="бокс"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="house-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="house"/>
            <xs:enumeration value="townhouse"/>
            <xs:enumeration value="duplex"/>
            <xs:enumeration value="дом"/>
            <xs:enumeration value="таунхаус"/>
            <xs:enumeration value="дуплекс"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ownership-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="private"/>
            <xs:enumeration value="cooperative"/>
            <xs:enumeration value="by proxy"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="commercial-building-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="business center" />
            <xs:enumeration value="warehouse" />
            <xs:enumeration value="shopping center" />
            <xs:enumeration value="detached building" />
            <xs:enumeration value="residential building" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="purpose-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="bank" />
            <xs:enumeration value="food store" />
            <xs:enumeration value="beauty shop" />
            <xs:enumeration value="touragency" />
            <xs:enumeration value="medical center" />
            <xs:enumeration value="show room" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="purpose-warehouse-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="alcohol" />
            <xs:enumeration value="vegetable storehouse" />
            <xs:enumeration value="pharmaceutical storehouse" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="entrance-type-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="separate" />
            <xs:enumeration value="common" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="building-state-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="unfinished" />
            <xs:enumeration value="built" />
            <xs:enumeration value="hand-over" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="quarter-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="trust-enum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="-1" />
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="three-d-widget-type">
        <xs:simpleContent>
            <xs:extension base="rf:non-empty-URI">
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="platform" type="xs:string" use="optional"/>
                <xs:attribute name="content" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="image-type">
        <xs:simpleContent>
            <xs:extension base="rf:non-empty-URI">
                <xs:attribute name="tag" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="vas-type">
        <xs:simpleContent>
            <xs:extension base="rf:vas-type-enum">
                <xs:attribute name="end-time" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
