pay/tests/xsd/KO_ZVLREGKKT_1_800_11_05_03_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---***********************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  Проверка имени файла на соответствие ИдФайл  -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---***********************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation>Сведения о пользователе контрольно-кассовой техники</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation>Пользователь - организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Наименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="required">
													<xs:annotation>
														<xs:documentation>КПП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОГРН" type="ОГРНТип" use="optional">
													<xs:annotation>
														<xs:documentation>ОГРН</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<xs:documentation>Пользователь - физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="optional">
													<xs:annotation>
														<xs:documentation>ОГРНИП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе в  зависимости  от  значения  ПрПодп">
											<sch:rule context="Подписант">
												<!-- Контроль обязательности присутствия Сведений о представителе налогоплательщика в зависимости от значения ПрПодп -->
												<sch:assert test="usch:iif(@ПрПодп=2, count(СвПред)!=0, (count(СвПред)!=0 or count(СвПред)=0))">
													<usch:error code="0400300003" path="@ПрПодп" value-of-select="@ПрПодп">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/СвПред при значении элемента ПрПодп, равном "<usch:value-of select="@ПрПодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---*******************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие ФИО в  зависимости  от  значения  ПрПодп">
											<sch:rule context="Подписант">
												<!-- Контроль обязательности присутствия ФИО в зависимости от значения ПрПодп -->
												<sch:assert test="usch:iif((@ПрПодп=2 or (@ПрПодп=1 and ../СвНП/НПЮЛ)), count(ФИО)!=0, (count(ФИО)!=0 or count(ФИО)=0))">
													<usch:error code="0400300003" path="ФИО" value-of-select="count(ФИО)">Не выполнено условие присутствия элемента Файл/Документ/Подписант/ФИО при значении элемента ПрПодп, равном "<usch:value-of select="@ПрПодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*******************************************************************************************************************************************************-->
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о представителе налогоплательщика</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование документа, подтверждающего полномочия представителя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Должность" use="optional">
										<xs:annotation>
											<xs:documentation>Должность лица, подписавшего документ</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="120"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ЗаявРегККТ">
								<xs:annotation>
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрИзмАдрМУ">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрИзмАдрМУ при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрИзмАдрМУ) or (@ВидДок=1 and not(@ПрИзмАдрМУ))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрИзмАдрМУ при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрСменОФД">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрСменОФД при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрСменОФД) or (@ВидДок=1 and not(@ПрСменОФД))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрСменОФД при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрИзмАвтУстр">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрИзмАвтУстр при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрИзмАвтУстр) or (@ВидДок=1 and not(@ПрИзмАвтУстр))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрИзмАвтУстр при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрЗамФН">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрЗамФН при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрЗамФН) or (@ВидДок=1 and not(@ПрЗамФН))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрЗамФН при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрЭлектрРежим">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрЭлектрРежим при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрЭлектрРежим) or (@ВидДок=1 and not(@ПрЭлектрРежим))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрЭлектрРежим при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАвтономРежим">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАвтономРежим при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрАвтономРежим) or (@ВидДок=1 and not(@ПрАвтономРежим))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрАвтономРежим при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрИзмНаимНП">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрИзмНаимНП при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрИзмНаимНП) or (@ВидДок=1 and not(@ПрИзмНаимНП))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрИзмНаимНП при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрИныеПричины">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрИныеПричины при ВидДок=2        -->
												<sch:assert test="(@ВидДок=2 and @ПрИныеПричины) or (@ВидДок=1 and not(@ПрИныеПричины))">
													<usch:error code="0400300003" path="@ВидДок" value-of-select="@ВидДок">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/@ПрИныеПричины при значении элемента ВидДок, равном "<usch:value-of select="@ВидДок"/>".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия МоделФН">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия МоделФН при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@МоделФН) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@МоделФН при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия НомерФН">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия НомерФН при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@НомерФН) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@НомерФН при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАвтоном">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАвтоном при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрАвтоном) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАвтоном при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрЛотерея">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрЛотерея при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрЛотерея) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрЛотерея при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАзарт">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАзарт при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрАзарт) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАзарт при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрБанкПлат">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрБанкПлат при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрБанкПлат) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрБанкПлат при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрПлатАгент">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрПлатАгент при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрПлатАгент) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрПлатАгент при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАвтоматУстр">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАвтоматУстр при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрАвтоматУстр) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАвтоматУстр при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрИнтернет">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрИнтернет при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрИнтернет) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрИнтернет при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрРазвозРазнос">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрРазвозРазнос при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрРазвозРазнос) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрРазвозРазнос при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрБланк">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрБланк при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрБланк) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрБланк при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАкцизТовар">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАкцизТовар при ВидДок=1        -->
												<sch:assert test="(@ВидДок=1 and СведРегККТ/@ПрАкцизТовар) or (@ВидДок=2) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАкцизТовар при значении элемента ВидДок, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка равенства значений ПрЭлектрРежим и ПрАвтономРежим ">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность неравенства значений ПрЭлектрРежим и ПрАвтономРежим        -->
												<sch:assert test="(@ПрЭлектрРежим!=@ПрАвтономРежим) or (not(@ПрЭлектрРежим) and not(@ПрАвтономРежим)) or (@ПрЭлектрРежим=2 and @ПрАвтономРежим=2)">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие неравенства значений @ПрЭлектрРежим и @ПрАвтономРежим 
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия СведОФД при ПрСменОФД=1 ">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность наличия СведОФД при ПрСменОФД=1       -->
												<sch:assert test="(@ПрСменОФД=1 and СведРегККТ/СведОФД) or (@ПрСменОФД=2) or (not(@ПрСменОФД))">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/СведОФД при значении элемента Файл/Документ/ЗаявРегККТ/ПрСменОФД, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия СведОФД при ПрЭлектрРежим=1">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность наличия СведОФД при ПрЭлектрРежим=1       -->
												<sch:assert test="(@ПрЭлектрРежим=1 and СведРегККТ/СведОФД) or (@ПрЭлектрРежим=2) or (not(@ПрЭлектрРежим))">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/СведОФД при значении элемента Файл/Документ/ЗаявРегККТ/ПрЭлектрРежим, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия НомерФН">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия НомерФН при ПрЗамФН=1        -->
												<sch:assert test="(@ПрЗамФН=1 and СведРегККТ/@НомерФН) or (@ПрЗамФН=2) or (not(@ПрЗамФН)) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@НомерФН при значении элемента Файл/Документ/ЗаявРегККТ/@ПрЗамФН, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия МоделФН">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия МоделФН при ПрЗамФН=1        -->
												<sch:assert test="(@ПрЗамФН=1 and СведРегККТ/@МоделФН) or (@ПрЗамФН=2) or (not(@ПрЗамФН)) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@МоделФН при значении элемента Файл/Документ/ЗаявРегККТ/@ПрЗамФН, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАвтоном">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАвтоном при ПрЭлектрРежим=1        -->
												<sch:assert test="(@ПрЭлектрРежим=1 and СведРегККТ/@ПрАвтоном) or (@ПрЭлектрРежим=2) or (not(@ПрЭлектрРежим)) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАвтоном при значении элемента Файл/Документ/ЗаявРегККТ/ПрЭлектрРежим, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<!---***********************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Проверка наличия ПрАвтоном">
											<sch:rule context="ЗаявРегККТ">
												<!--             Обязательность присутствия ПрАвтоном при ПрАвтономРежим=1        -->
												<sch:assert test="(@ПрАвтономРежим=1 and СведРегККТ/@ПрАвтоном) or (@ПрАвтономРежим=2) or (not(@ПрАвтономРежим)) ">
													<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАвтоном при значении элемента Файл/Документ/ЗаявРегККТ/ПрАвтономРежим, равном "1".
                                                    </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---***********************************************************************************************************************************************************************-->
									<xs:documentation>Заявление о регистрации (перерегистрации) контрольно-кассовой техники</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведРегККТ">
											<xs:annotation>
												<!---***********************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Проверка отсутствия СведОФД">
														<sch:rule context="СведРегККТ">
															<!--             Обязательность отсутствия СведОФД при ПрАвтоном=1        -->
															<sch:assert test="(@ПрАвтоном=1 and not(СведОФД)) or (@ПрАвтоном=2) or (not(@ПрАвтоном)) ">
																<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие отсутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/СведОФД при значении элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/@ПрАвтоном, равном "1".
                                                    </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---***********************************************************************************************************************************************************************-->
												<!---***********************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Проверка наличия СведФискДок">
														<sch:rule context="ЗаявРегККТ">
															<!--             Обязательность присутствияСведФискДок при ПрЗамФН=1        -->
															<sch:assert test="(@ВидДок=2 and @ПрЗамФН=1 and СведФискДок) or (@ВидДок=1) or (@ВидДок=2 and @ПрЗамФН=2)">
																<usch:error code="0400300003" path="@ ПрЗамФН" value-of-select="@ ПрЗамФН">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведФискДок при значении элемента ПрЗамФН, равном "<usch:value-of select="@ПрЗамФН"/>".
                                                    </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---***********************************************************************************************************************************************************************-->
												<!---***********************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Проверка наличия СведАвтУстр при ПрИзмАвтУстр=1 ">
														<sch:rule context="ЗаявРегККТ">
															<!--             Обязательность наличия СведАвтУстр при ПрИзмАвтУстр=1       -->
															<sch:assert test="(@ПрИзмАвтУстр=1 and СведРегККТ/СведАвтУстр) or (@ПрИзмАвтУстр=2) or (not(@ПрИзмАвтУстр))">
																<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/СведАвтУстр при значении элемента Файл/Документ/ЗаявРегККТ/ПрИзмАвтУстр, равном "1".
                                                    </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---***********************************************************************************************************************************************************************-->
												<!---***********************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Проверка наличия СведАвтУстр при ПрАвтоматУстр=1 ">
														<sch:rule context="СведРегККТ">
															<!--             Обязательность наличия СведАвтУстр при ПрАвтоматУстр=1       -->
															<sch:assert test="(@ПрАвтоматУстр=1 and СведАвтУстр) or (@ПрАвтоматУстр=2) or (not(@ПрАвтоматУстр))">
																<usch:error code="0400300003" path="" value-of-select="">
                                                        Не выполнено условие присутствия элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/СведАвтУстр при значении элемента Файл/Документ/ЗаявРегККТ/СведРегККТ/ПрАвтоматУстр, равном "1".
                                                    </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---***********************************************************************************************************************************************************************-->
												<xs:documentation>Сведения о модели контрольно-кассовой техники, заявленной на регистрацию (перерегистрацию) в налоговом органе</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СведОФД" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения об операторе фискальных данных</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НаимОрг" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование организации</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
																<xs:annotation>
																	<xs:documentation>ИНН организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведАдрМУст">
														<xs:annotation>
															<xs:documentation>Сведения об адресе места установки контрольно-кассовой техники, заявленной на регистрацию (перерегистрацию или снятию с учета) в налоговом органе</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="АдрМУстККТ" type="АдрМУстТип">
																	<xs:annotation>
																		<xs:documentation>Адрес места установки контрольно-кассовой техники</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="НаимМУст" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование места установки контрольно-кассовой техники, при использовании в Интернете указывается адрес(а) сайта(ов), при развозной торговле марка и номер транспортного средства </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="254"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведАвтУстр" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения об автоматических устройствах для расчетов</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="АдрМУстАвтУстр" type="АдрМУстТип">
																	<xs:annotation>
																		<xs:documentation>Адрес установки (применения)
автоматического
устройства для расчетов</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="НомерАвтоматУстр" use="required">
																<xs:annotation>
																	<xs:documentation>Номер автоматического устройства для расчетов</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимМУст" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование места установки (применения)
автоматического
устройства для расчетов</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="254"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="МоделККТ" use="required">
													<xs:annotation>
														<xs:documentation>Наименование модели контрольно-кассовой техники
</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомерККТ" use="required">
													<xs:annotation>
														<xs:documentation>Заводской номер экземпляра контрольно-кассовой техники</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="МоделФН" use="optional">
													<xs:annotation>
														<xs:documentation>Полное или краткое наименование модели фискального накопителя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомерФН" use="optional">
													<xs:annotation>
														<xs:documentation>Заводской номер модели фискального накопителя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАвтоном" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника применяется в режиме, не предусматривающем обязательную передачу фискальных документов в налоговые органы через оператора фискальных данных</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрЛотерея" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется при приеме, выплате денежных средств при реализации лотерейных билетов</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАзарт" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется при приеме ставок и выплате денежных средств в виде выигрыша при осуществлении деятельности по организации и проведению азартных игр</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрБанкПлат" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется при осуществлении деятельности банковского платежного агента (субагента)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрПлатАгент" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется при осуществлении деятельности  платежного агента (субагента)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАвтоматУстр" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника входит в состав автоматического устройства для расчетов</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрИнтернет" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется для расчетов в информационно-телекоммуникационной сети "Интернет"</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрРазвозРазнос" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется для развозной и (или) разносной торговли</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрБланк" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника является автоматизированной  системой для бланков строгой отчетности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАкцизТовар" use="optional">
													<xs:annotation>
														<xs:documentation>Контрольно-кассовая техника используется при продаже подакцизных товаров</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведФискДок" minOccurs="0">
											<xs:annotation>
												<!---***********************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Проверка наличия СведОтчЗакрФН">
														<sch:rule context="СведФискДок">
															<!--             Обязательность присутствия СведОтчЗакрФН при ПрЗаменПолом=2        -->
															<sch:assert test="(@ПрЗаменПолом=2 and СведОтчЗакрФН) or (@ПрЗаменПолом=1 and not(СведОтчЗакрФН))">
																<usch:error code="0400300003" path="@ПрЗаменПолом" value-of-select="@ПрЗаменПолом">
                                                        Не выполнено условие присутствия (отсутствие) элемента Файл/Документ/ЗаявРегККТ/СведФискДок/СведОтчЗакрФН при значении элемента ПрЗаменПолом, равном "<usch:value-of select="@ПрЗаменПолом"/>".
                                                    </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---***********************************************************************************************************************************************************************-->
												<xs:documentation>Сведения о сформированных фискальных документах</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СведОтчРег">
														<xs:annotation>
															<xs:documentation>Сведения из отчета о регистрации или об изменении параметров регистрации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НомерОтчРег" use="required">
																<xs:annotation>
																	<xs:documentation>Номер отчета о регистрации/об изменении параметров регистрации</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаОтчРег" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата формирования  отчета о регистрации/об изменении параметров регистрации</xs:documentation>
																	<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ВремяОтчРег" use="required">
																<xs:annotation>
																	<xs:documentation>Время формирования  отчета о регистрации/об изменении параметров регистрации</xs:documentation>
																	<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="5"/>
																		<xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ФПД" use="required">
																<xs:annotation>
																	<xs:documentation>Фискальный признак документа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="32"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведОтчЗакрФН" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения из отчета о закрытии фискального накопителя</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НомерОтчЗакрФН" use="required">
																<xs:annotation>
																	<xs:documentation>Номер отчета о закрытии фискального накопителя</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаОтчЗакрФН" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата формирования  отчета о закрытии фискального накопителя</xs:documentation>
																	<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ВремяОтчЗакрФН" use="required">
																<xs:annotation>
																	<xs:documentation>Время формирования  отчета о закрытии фискального накопителя</xs:documentation>
																	<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="5"/>
																		<xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ФПД" use="required">
																<xs:annotation>
																	<xs:documentation>Фискальный признак документа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="32"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ПрЗаменПолом" use="required">
													<xs:annotation>
														<xs:documentation>Признак замены фискального накопителя, находящегося внутри корпуса контрольно-кассовой техники, в связи с его поломкой</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="РНМ" use="optional">
										<xs:annotation>
											<xs:documentation>Регистрационный номер ККТ</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="16"/>
												<xs:pattern value="[0-9]{16}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодНОМУст" type="СОНОТип" use="required">
										<xs:annotation>
											<xs:documentation>Код налогового органа по месту установки контрольно-кассовой техники</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ВидДок" use="required">
										<xs:annotation>
											<xs:documentation>Вид документа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрИзмАдрМУ" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с изменением адреса и места установки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрСменОФД" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи со сменой оператора фискальных данных  </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрИзмАвтУстр" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с изменением сведений о применении в составе автоматического устройства</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрЗамФН" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с заменой фискального накопителя</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрЭлектрРежим" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с переходом из автономного режима в обычный режим </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрАвтономРежим" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с переходом из обычного режима в автономный</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрИзмНаимНП" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники в связи с изменением наименования пользователя контрольно-кассовой техники</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрИныеПричины" use="optional">
										<xs:annotation>
											<xs:documentation>Признак перерегистрации контрольно-кассовой техники по иным причинам</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1110061"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="АдрМУстТип">
		<xs:annotation>
			<xs:documentation>Адрес места установки </xs:documentation>
		</xs:annotation>
		<xs:attribute name="НомерФИАС" use="optional">
			<xs:annotation>
				<xs:documentation>Уникальный идентификационный номер по ФИАС </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" use="required">
			<xs:annotation>
				<xs:documentation>Код региона</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="CCРФТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Район" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Город" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаселПункт" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Улица" use="optional">
			<xs:annotation>
				<xs:documentation>Улица</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Номер дома (владения)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Номер корпуса (строения)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Номер квартиры (офиса)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНТип">
		<xs:annotation>
			<xs:documentation>Основной  государственный регистрационный номер юридического лица  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНИПТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
