billing/tests/banks/party_sber/fixtures/salary_registry_3.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Christina (ZAO Raiffeisenbank) -->
<xs:schema xmlns:tns="http://v8.1c.ru/edi/edi_stnd/109" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://v8.1c.ru/edi/edi_stnd/109" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.4">
	<xs:element name="СчетаПК" type="tns:СчетПК">
		<xs:annotation>
			<xs:documentation>Корневой элемент, объединяющий всю информацию по открытию счетов пластиковых карт и зачислению на них заработной платы сотрудников предприятия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Адрес">
		<xs:annotation>
			<xs:documentation>Служит для  представления адреса участника бизнес-процесса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Индекс" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Страна" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="СтранаНазвание" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Полное наименование в соответствии с бщероссийским классификатором стран мира OK (MK (ИСО 3166) 004-97) 025-2001 (ОКСМ)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СтранаСокращение" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Краткое наименование в соответствии с Общероссийским классификатором стран мира OK (MK (ИСО 3166) 004-97) 025-2001 (ОКСМ)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="СтранаКод" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Цифровой Код в соответствии с Общероссийским классификатором стран мира OK (MK (ИСО 3166) 004-97) 025-2001 (ОКСМ)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Регион" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="РегионНазвание">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="РегионСокращение" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Район" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="РайонНазвание">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="РайонСокращение" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сокращение согласно справочника ИМНС</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Город" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ГородНазвание">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ГородСокращение" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сокращение согласно справочника ИМНС</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="НаселенныйПункт" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="НаселенныйПунктНазвание">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="НаселенныйПунктСокращение" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сокращение согласно справочника ИМНС</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Улица" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="УлицаНазвание">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="УлицаСокращение" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сокращение согласно справочника ИМНС</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Дом" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Корпус" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Квартира" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ВидВклада">
		<xs:annotation>
			<xs:documentation>Вид вклада и код валюты. Наименование карточного продукта, Например: Visa Classic, EC/MC Mass. Возможные значения определяются в договоре</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="КодВидаВклада" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="КодПодвидаВклада" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="КодВалюты" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ЗачислениеЗарплаты">
		<xs:annotation>
			<xs:documentation>Содержит список сотрудников предприятия и описание реквизитов, необходимых для зачисления зарплаты на счета ПК</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сотрудник" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:Сотрудник">
							<xs:sequence>
								<xs:element name="ЛицевойСчет" type="tns:Счет"/>
								<xs:element name="Сумма" type="tns:Сумма">
									<xs:annotation>
										<xs:documentation>Сумма операции пополнения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="КодВалюты" type="tns:КодВалюты" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="КонтрольныеСуммы">
		<xs:annotation>
			<xs:documentation>Служит для контроля переданной информации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КоличествоЗаписей">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СуммаИтого" type="tns:Сумма" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Итоговая сумма зачисления. Необязательный только при передаче реестров на открытие счетов и результатов открытия счетов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ОткрытиеСчетов">
		<xs:annotation>
			<xs:documentation>Содержит всю необходимую информацию для открытия счетов пластиковых карт</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сотрудник" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:Сотрудник">
							<xs:sequence>
								<xs:element name="ВидВклада" type="tns:ВидВклада" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Наименование карточного продукта, Например: Visa Classic, EC/MC Mass. Возможные значения определяются в договоре</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="УдостоверениеЛичности" type="tns:УдостоверениеЛичности"/>
								<xs:element name="ДатаРождения" type="xs:date"/>
								<xs:element name="Пол">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="АдресМестаРаботы" type="tns:Адрес" minOccurs="0"/>
								<xs:element name="Должность" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Должность сотрудника предприятия</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="МестоРождения" type="tns:Адрес" minOccurs="0"/>
								<xs:element name="АдресПрописки" type="tns:Адрес" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Для Сбербанка обязательный</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="АдресПроживания" type="tns:Адрес" minOccurs="0"/>
								<xs:element name="РабочийТелефон" minOccurs="0" maxOccurs="unbounded">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="40"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ДомашнийТелефон" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Указывается номер телефона для связи</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="40"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ЭмбоссированныйТекст">
									<xs:annotation>
										<xs:documentation>Текст эмбоссированный на ПК. Например: TATIANA M/IVANOVA или TANIA/IVANOVA/MRS</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Поле1" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="Поле2" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="Поле3" use="optional">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="19"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Сумма" type="tns:Сумма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сумма первоначального пополнения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="КодВалюты" type="tns:КодВалюты" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Код валюты, в которой зачисляется зарплата - код валюты электронного реестра, соответствующий кодам, предусмотренным Общероссийским классификатором валют, например код валюты российского рубля “643”</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ПризнакЗарплатный" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Признак зарплатной карты. Возможные значения: 0,1,2,3.
0 – незарплатная;
1 – зарплатная с оплатой предприятием;
2 – 100% оплата держателем карты;
3- долевая оплата и предприятием и держателем карты. Для Сбербанка обязательный
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Резидент" type="xs:boolean">
									<xs:annotation>
										<xs:documentation>true - для резидентов. Иначе false                        </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Гражданство" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Гражданство сотрудника.     Для Сбербанка обязательный</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="64"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="КатегорияНаселения" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Категория населения. Например: 207,0,212,217,218.
207 – лица, перечисляющие зарплату на счета;
0 – пенсионеры;
212 – зарплата с разрешенным овердрафтом для сотрудников банка;
217 - зарплата с разрешенным овердрафтом для сотрудников организации;
218 – студенческая (договор с учебным заведением).
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="БонусУчастника" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер участника в бонус программе.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ТарифСледующийГод" type="tns:Сумма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Тариф за обслуживание ПК на следующий год.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ТарифТекущийГод" type="tns:Сумма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Тариф за обслуживание ПК на текущий год</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="БонусПрограмма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Идентификатор бонусной программы.Например: “AE”,“GM”,””.
AE - аэрофлот бонус;
GM – золотая маска;
PG – подари жизнь;</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ПризнакРассылки" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Признак рассылки отчета: 1 - рассылать по Internet. 3 - рассылать отчет по почте на адрес проживания.
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ИнтернетАдрес" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Адрес электронной почты (Internet адрес)</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="64"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="СчетДебета" type="tns:Счет" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Счет по дебету</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="МобильныйТелефон" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер мобильного телефона по Мобильному банку. Указывается в формате: код оператора – 3 символа, номер телефона – 7 символов. Пример: 9151234567</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="10"/>
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ОператорСвязи" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Код оператора мобильной связи</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="3"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="МобильныйБанк" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Информация по мобильному банку:
1 – экономный;
2 – полный.
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ПередачаБКИ" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Разрешение передачи информации в бюро крудитных историй (БКИ) для овердрафтных карт:
False – нет;
True – разрешена передача.
</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="КонтрольнаяИнформация" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Контрольная информация сотрудника организации. Под контрольной информацией понимается слово (пароль) для голосовой идентификации клиента при обращении в службу поддержки.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="30"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Нерезидент" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="МиграционнаяКарта" minOccurs="0">
												<xs:annotation>
													<xs:documentation>содержит сведения из миграционной карты</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Номер">
															<xs:annotation>
																<xs:documentation>номер Миграционной карты</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ДатаНачалаПребывания" type="xs:date">
															<xs:annotation>
																<xs:documentation>дата начала срока пребывания Клиента на территории РФ</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ДатаОкончанияПребывания" type="xs:date">
															<xs:annotation>
																<xs:documentation>дата окончания срока пребывания Клиента на территории РФ</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="МиграционныйДокумент" minOccurs="0">
												<xs:annotation>
													<xs:documentation>содержит сведения о миграционном документе</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="КодДокумента">
															<xs:annotation>
																<xs:documentation>Код миграционного документа: «Приложение 5 к Приказу ФНС России от 17.11.2010 N ММВ-7-3/611
</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="255"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="НомерДокумента">
															<xs:annotation>
																<xs:documentation>номер миграционного документа</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ДатаНачалаПребывания" type="xs:date">
															<xs:annotation>
																<xs:documentation>дата начала срока пребывания Клиента на территории РФ</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ДатаОкончанияПребывания" type="xs:date">
															<xs:annotation>
																<xs:documentation>дата окончания срока пребывания Клиента на территории РФ</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ТабельныйНомер" minOccurs="0">
									<xs:annotation>
										<xs:documentation>значение табельного номера сотрудника в организации</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ДатаОформления" type="xs:date" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Дата приема на работу</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="СуммаЗаработнойПлаты" type="tns:Сумма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>размер заработной платы сотрудника организации в месяц, на момент формирования реестра. Без учета периодических премий.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ДатаВыплаты" type="xs:date" minOccurs="0">
									<xs:annotation>
										<xs:documentation>день выплаты заработной платысотруднику организации (дата выплаты основной части зарплаты)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="АдресИнформирования" type="tns:Адрес" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Может использоваться для формирования почтовых отправлений Клиенту.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ИдентификаторДизайна" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Код индивидуального дизайна </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ПВК" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер (код) удаленного пункта выдачи карты</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="КонтактныйМобильныйТелефон" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Указывается номер мобильного телефона  для связи</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="40"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="ПриложениеКарта" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Допсервис на банковской карте (дополнительное приложение на чипе карты) и необходимая информация для выпуска карт с доп приложением (код и параметры доп приложения).</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Код" use="required">
											<xs:annotation>
												<xs:documentation>Идентификатор дополнительного приложения размещаемого в памяти карты.

1 – Транспортное приложение.

2 – кампусное приложение.

</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="Параметр" use="optional">
											<xs:annotation>
												<xs:documentation>Идентификатор передаваемого параметра, для приложения</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="СНИЛС" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Страховой номер индивидуального лицевого счета — сведения, содержащиеся в страховом свидетельстве обязательного пенсионного страхования, выдаваемом застрахованному лицу, подтверждающем его регистрацию в системе государственного пенсионного страхования Российской Федерации.
</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="РезультатЗачисленияЗарплаты">
		<xs:annotation>
			<xs:documentation>Содержит информацию о зачислении зарплаты на счета пластиковых карт</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сотрудник" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:Сотрудник">
							<xs:sequence>
								<xs:element name="ЛицевойСчет" type="tns:Счет">
									<xs:annotation>
										<xs:documentation>Номер счета, сформированный в соответствии со "Схемой обозначения лицевых счетов и их нумерации (по основным счетам)" приложения 1 Правил ведения бухгалтерского учета в Банке России от 18.09.97 №66 или Правил ведения бухгалтерского учета в кредитных организациях, расположенных на территории РФ, от 05.12.2002 №205 с учетом изменений и дополнений. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Сумма" type="tns:Сумма">
									<xs:annotation>
										<xs:documentation>Сумма операции пополнения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="КодВалюты" type="tns:КодВалюты" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Международный код валюты. Возможные значения определяются в договоре</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Результат" type="tns:Результат">
									<xs:annotation>
										<xs:documentation>Результат обработки</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="РасшифровкаРезультата" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Комментарий к результатам зачисления заработной платы</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="3000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="РезультатОткрытияСчетов">
		<xs:annotation>
			<xs:documentation>Содержит информацию о результатах открытия счетов пластиковых карт</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сотрудник" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:Сотрудник">
							<xs:sequence>
								<xs:element name="ЛицевойСчет" type="tns:Счет" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер счета, сформированный в соответствии со "Схемой обозначения лицевых счетов и их нумерации (по основным счетам)" приложения 1 Правил ведения бухгалтерского учета в Банке России от 18.09.97 №66 или Правил ведения бухгалтерского учета в кредитных организациях, расположенных на территории РФ, от 05.12.2002 №205 с учетом изменений и дополнений. того счета</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Сумма" type="tns:Сумма" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сумма первоначального пополнения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="КодВалюты" type="tns:КодВалюты" minOccurs="0"/>
								<xs:element name="УдостоверениеЛичности" type="tns:УдостоверениеЛичности" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ДействительноДо" type="xs:date" minOccurs="0"/>
								<xs:element name="Результат" type="tns:Результат">
									<xs:annotation>
										<xs:documentation>Результат обработки реестров на стороне банка</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ВидВклада" type="tns:ВидВклада" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Наименование карточного продукта, Например: Visa Classic, EC/MC Mass. Возможные значения определяются в договоре</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="РасшифровкаРезультата" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Комментарий к результатам открытия счета</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="3000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="НомерКарты" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Номер карты сотрудника</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СчетПК">
		<xs:annotation>
			<xs:documentation>Тип корневого элемента, объединяющий всю информацию по открытию счетов пластиковых карт и зачислению на них заработной платы сотрудников предприятия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ОткрытиеСчетов" type="tns:ОткрытиеСчетов" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Содержит список сотрудников предприятия и описание реквизитов, необходимых для  открытия счетов пластиковых карт</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="РезультатОткрытияСчетов" type="tns:РезультатОткрытияСчетов" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Содержит информацию о результатах открытия счетов пластиковых карт</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ЗачислениеЗарплаты" type="tns:ЗачислениеЗарплаты" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Содержит список сотрудников предприятия и описание реквизитов, необходимых для зачисления зарплаты на счета пластиковых карт</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="РезультатЗачисленияЗарплаты" type="tns:РезультатЗачисленияЗарплаты" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Содержит информацию о зачислении зарплаты на счета пластиковых карт</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="СписокУвольнений" type="tns:СписокУвольнений" minOccurs="0"/>
			</xs:choice>
			<xs:element name="ВидЗачисления" minOccurs="0">
				<xs:annotation>
					<xs:documentation>2-значный код вида зачисления: заработная плата - 01, стипендия учащимся - 02, пенсия социальная - 03, пенсия негосударственных пенсионных фондов (кроме НПФ Сбербанка) - 04, пособия и другие выплаты по безработице - 05, пособия на детей - 06, прочие выплаты – 07          Для Сбербанка обязателен к заполнению</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ПлатежноеПоручение" minOccurs="0">
				<xs:annotation>
					<xs:documentation>номер платежного поручения – до 6 символов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаПлатежногоПоручения" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>дата платежного поручения в формате YYYY-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КонтрольныеСуммы" type="tns:КонтрольныеСуммы"/>
		</xs:sequence>
		<xs:attribute name="ДатаФормирования" type="xs:date" use="required"/>
		<xs:attribute name="НомерДоговора">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаДоговора" type="xs:date" use="optional"/>
		<xs:attribute name="НаименованиеОрганизации" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="160"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ИНН" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="10"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="РасчетныйСчетОрганизации" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="БИК" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ИдПервичногоДокумента" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НомерРеестра" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="11"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаРеестра" type="xs:date" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Сотрудник">
		<xs:annotation>
			<xs:documentation>ФИО сотрудника и отделение (филиал) банка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Фамилия">
				<xs:annotation>
					<xs:documentation>Фамилия сотрудника предприятия, которому открывается счет или переводится зарплата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Имя">
				<xs:annotation>
					<xs:documentation>Имя сотрудника предприятия, которому открывается счет или переводится зарплата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Отчество" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество сотрудника предприятия, которому открывается счет или переводится зарплата  Не заполняется в случае, если наличие отчества не предусмотрено законами субъектов Российской Федерации или не основано на национальном обычае.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОтделениеБанка" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обязательность заполнения определяется Банком</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ФилиалОтделенияБанка" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обязательность заполнения определяется Банком</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Нпп">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СписокУвольнений">
		<xs:annotation>
			<xs:documentation>Содержит информацию об уволенных сотрудниках, имеющих зарплатную банковскую карту</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Сотрудник" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:Сотрудник">
							<xs:sequence>
								<xs:element name="НомерСчета" type="tns:Счет"/>
								<xs:element name="ДатаУвольнения" type="xs:date"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="УдостоверениеЛичности">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВидДокумента">
				<xs:annotation>
					<xs:documentation>Вид документа, удостоверяющего личность. Например: паспорт</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="75"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Серия" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Номер">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаВыдачи" type="xs:date"/>
			<xs:element name="КемВыдан">
				<xs:annotation>
					<xs:documentation>Организация, выдавшая документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="КодПодразделения" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код органа, выдавшего документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="КодВидаДокумента">
				<xs:annotation>
					<xs:documentation>код вида документа по классификатору  ФЕДЕРАЛЬНОЙ НАЛОГОВОЙ СЛУЖБЫ ПРИКАЗ от 13 октября 2006 г. N САЭ-3-04/706 "ОБ УТВЕРЖДЕНИИ ФОРМЫ СВЕДЕНИЙ О ДОХОДАХ ФИЗИЧЕСКИХ ЛИЦ"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="КодВалюты">
		<xs:annotation>
			<xs:documentation>Код валюты, в которой зачисляется зарплата - код валюты электронного реестра, соответствующий кодам, предусмотренным Общероссийским классификатором валют, например код валюты российского рубля “643”</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Счет">
		<xs:annotation>
			<xs:documentation>Расчетный счет</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Сумма">
		<xs:annotation>
			<xs:documentation>Сумма денежных средств в валюте расчетов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Результат">
		<xs:annotation>
			<xs:documentation>Значение результата открытия счетов или зачисления зарплаты, полученный от банка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:enumeration value="счетОткрыт"/>
			<xs:enumeration value="счетНеОткрыт"/>
			<xs:enumeration value="ОшибкаЗаполненияДанных"/>
			<xs:enumeration value="зачислено"/>
			<xs:enumeration value="ошибкаВФИО"/>
			<xs:enumeration value="счетОтсутствует"/>
			<xs:enumeration value="счетЗакрыт"/>
			<xs:enumeration value="неЗачислено"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
